---
import { getCollection } from "astro:content";
import { Base as Layout } from "@/layouts";
import { PageMeta } from "@/components";
import { SITE_TITLE } from "@/config";

const posts = await getCollection("blog");

const sortedPosts = posts.sort(
  ({ data: a }, { data: b }) =>
    new Date(b.date).valueOf() -
    new Date(a.date).valueOf()
);
---

<Layout>
  <Fragment slot="meta">
    <PageMeta title={`Blog | ${SITE_TITLE}`} />
  </Fragment>
  <section slot="main">
    <ul>
      {
        sortedPosts.map((post) => {
          const formattedDate = post.data.date.toLocaleDateString("en-uk", {
            year: "numeric",
            month: "short",
            day: "numeric",
          });
          return (
            <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
              <div class="title">
                <a href={`/en/blog/${post.slug}/`} class="unset hover:text-text-link">
                  {post.data.title}
                </a>
              </div>
              <div class="text-text-muted text-sm italic">
                <time datetime={post.data.date.toISOString()}>
                  {formattedDate}
                </time>
              </div>
            </li>
          );
        })
      }
    </ul>
  </section>
</Layout>
